{% extends "layout.html" %}
{% block title %}Student Conduct{% endblock %}
{% block page %}Log In{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="/login">
        {{ form.csrf_token }}
        {% if form.csrf_token.error %}
           <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
        <div class="input-field col s12 m8 offset-m2"> 
          {{ form.username(size=20, class="validate") }}
          {{ form.username.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
          {{ form.password(size=20, class="validate") }}
          {{ form.password.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
          {{ form.submit (class="btn white-text #5e35b1 deep-purple darken-1")}}
          <br>
          <p></p>
          <br>
          <a href="/signup" class="black-text"><u><i>SIGN UP</i></u></a>
          <br><br>
          <a href = "/" class="center-align waves-effect waves-light btn white-text #5e35b1 deep-purple darken-1">Return</a>
        </div> 
        
    </form>
  
</div>

{% endblock %}
